@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* only shape font */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
:root{
    --secondary-color:rgba(255, 255, 255, 0.5);
    --highlighter:rgb(230, 83, 60);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
}
main{
    /* max-width: 85%; */
    margin: 0 auto;
}
/* shared style  */
.display-flex{
    display: flex;
}
/* nav style */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.header-container{
    max-width: 85%;
    margin: 0 auto;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
}
.brand-container{
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.brand-container img{
    width: 80px;
    height: 70px;
    border-radius: 1rem;
}
.brand-container h3{
    color: var(--highlighter);
    font-size: 2rem;
    font-weight: 800;
}
.nav-item{
    font-size: 1.15rem;
    color: white;
    list-style: none;
    text-decoration: none;
}
#About{
    padding-right: 1rem;
}
.nav-list{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
#orange{
    background-color: var(--highlighter);
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 1rem;
}
.nav-hamburger{
    display: none;
}
/* hero section style */
.hero-container{
    align-items: center;
}

.hero-left-container h3{
    max-width: 50%;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.shape{
    font-family: "Playwrite CU", cursive;
}
.hero-left-container p{
    max-width: 50%;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}
.primary-btn{
    background-color:var(--highlighter);
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 3.8rem;
    cursor: pointer;
}
.download-btn{
    color: white;
    background-color: rgba(255, 255, 255, 0.103);
    font-size: 1.15rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 3.8rem;
    cursor: pointer;
}
.hero-right-container{
    position: relative;
}
.free-workout-videos{
    width: 180px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7rem;
    left: 12.4rem;
}
.free-workout-videos h3{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
}
.free-workout-videos p{
    color: var(--secondary-color);
    font-size: 0.75rem;
}
.hero-right-container a{
    text-decoration: none;
}
.videos-tutorials{
    width: 180px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.103);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    position: absolute;
    bottom: 5rem;
    right: 16rem;
}
.videos-tutorials h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}
.videos-tutorials p{
    color: var(--secondary-color);
}
.video-icon i{
    font-size: 2rem;
    color: red;
}
/* habit section style */
.habit-section{
    max-width: 80%;
    margin: 2rem auto;
}
.habit-info-container{
    max-width: 70%;
    margin: 2rem auto;
    text-align: center;
}
.habit-card-section  h3{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.habit-card-section p{
    color: var(--secondary-color);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.habit-card-container{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 1rem;
}
.habit-card{
    max-width: 230px;
    max-height: 295px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.habit-card-img-container img{
    max-width: 100%;
    border-radius: 50%;
}
.habit-card-info-container{
    text-align: center;
}
.habit-card-info-container h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.habit-card-info-container p{
    font-size: 0.85rem;
    color: var(--secondary-color);
}
/* run section style */
.run-section{
    max-width: 80%;
    margin: 2rem auto;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
}
.run-section-content {
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.run-left-container{
    max-width: 40%;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.8rem;
}
.run-left-container h3{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
.run-left-container p{
    color: var(--secondary-color);
    font-size: 0.85rem;
}
.run-right-container{
    max-width: 40%;
}
.run-right-container img{
    max-width: 100%;
    padding: 0.7rem;
    border-radius: 1.2rem;
}
/* run section style */
.training-section{
    max-width: 80%;
    margin: 2rem auto;
}
.training-info-container{
    max-width: 60%;
    margin: 3.5rem 0;
    padding: 1rem;
}
.training-info-container h3{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
}
.training-info-container p{
    font-size: 0.85rem;
    color: var(--secondary-color);
}
.training-img-container1,
.training-img-container2,
.training-img-container3,
.training-img-container4,
.training-img-container5,
.training-img-container6{
    width:100%;
    height: 250px;
    background-image: url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.training-img-container2{
    background-image: url(../images/exercise2.png);
}
.training-img-container3{
    background-image: url(../images/exercise3.png);
}
.training-img-container4{
    background-image: url(../images/exercise4.png);
}
.training-img-container5{
    background-image: url(../images/exercise5.jpg);
}
.training-img-container6{
    background-image: url(../images/exercise6.jpg);
}
.training-image-row1{
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.6fr;
}
.training-image-row2{
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 0.7fr;
}
.training-img-container1 p{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 75%;
    left: 10%;
}
.training-img-container1 .overlay{
    width: 100%;
    height: 100%;
    background-color:  rgba(6, 255, 210, 0.5);
}
.training-img-container2 .overlay{
    width: 100%;
    height: 100%;
    background-color:  rgba(255, 0, 0, 0.3);
}
.training-img-container2 p{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 10%;
}
.training-img-container3 .overlay{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
}
.training-img-container3 p{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 10%;
}
.training-img-container4 .overlay{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
}
.training-img-container4 p{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 70%;
}
.training-img-container5 .overlay{
    width: 100%;
    height: 100%;
    background-color:  rgba(66, 255, 0, 0.3);
}
.training-img-container5 p{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 10%;
}
.training-img-container6 .overlay{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 71, 255, 0.3);
}
.training-img-container6 p{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 10%;
}
/* calculator style */
.calculator-section{
    width: 100%;
    color: white;
}
.calculator-info-container
{
    max-width: 30%;
    margin: 3rem auto;
}
.calculator-info-container,
.team-info-container, h3{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.calculator-info-container,
.calculator-right-box-info,
.team-info-container, p{
    font-size: 0.8rem;
    color: var(--secondary-color);
    font-weight: 500;
}
.catculator-container{
    background-color: rgb(34, 34, 34);
    margin: 1rem auto;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}
.bmi-table, th, td{
    border-collapse: collapse;
    border: 2px solid rgb(122, 122, 122);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1rem;
}
.table-caption{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}
.calculator-right-form input, select{
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.137);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem auto;
}
.calculator-right-form-row2 select{
    width: 100%;
    color: rgb(99, 97, 97);
}
.calculator-right-form-row1,
.calculator-right-form-row2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.calculator-right-form-row3{
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem;
}
.calculator-right-form-row3 select{
    width: 100%; 
}
/* team section style */
.team-section{
    max-width: 80%;
    margin: 2rem auto;
}
.team-info-container{
    max-width: 40%;
    margin: 3rem auto;
    text-align: center;
}
.team-card-container{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;
    padding: 1rem;
}
.team-card{
    position: relative;
    height: 290px;
    border-radius: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-card-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    position: relative;
    top: 70%;
    left: 5%;
    z-index: 1;
}
.team-card-desc{
    font-weight: 500;
    color: var(--secondary-color);
    position: relative;
    top: 73%;
    left: 5%;
    z-index: 1;
}
.card-1{
    background-image: url(../images/trainer1.png);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.2);
    top: 0;
    border-radius: 1.1rem;
}
.card-2{
    background-image: url(../images/trainer2.png);
}
.card-3{
    background-image: url(../images/trainer3.png);
}
.card-4{
    background-image: url(../images/trainer4.png);
}
.card-5{
    background-image: url(../images/trainer5.png);
}
.card-6{
    background-image: url(../images/trainer6.png);
}
footer{
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    padding: 2rem;
}
.footer-container{
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}
.footer-info-container {
    max-width: 30%;
}
.footer-info-container h3{
    font-size: 4rem;
    font-weight: 800;
    color: var(--highlighter);
    margin-bottom: 2rem;
}
.footer-about-container,
.footer-fitness-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.footer-about-container,
.footer-fitness-container, a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--secondary-color);
}
.footer-copy-container{
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
}
/* small size media query */
@media screen and (max-width:576px) {
    .header-container,
    main,
    .run-section-content,
    .run-right-container,
    .run-left-container,
    .training-info-container,
    .team-section,
    .team-info-container,
    .footer-info-container {
        max-width: 100%;
    }
    .nav-list{
        display: none;
    }
    .nav-hamburger{
        display: block;
        color: white;
        margin-right: 1rem;
    }
    .hero-container,
    .run-section-content,
    .catculator-container,
    .footer-container{
        flex-direction: column;
    }
    .primary-btn{
        margin-bottom: 1rem;
    }
    .hero-left-container h3,
    .hero-left-container p{
        max-width: 100%;
        text-align: center;
        margin: 3.5rem auto;
    }
    .hero-btn-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .download-btn{
        margin-bottom: 1.05rem;
    }
    .free-workout-videos{
        max-width: fit-content;
    }
    .videos-tutorials{
        right: 10rem;
    }
    .habit-card-container, 
    .calculator-right-form-row1,
    .calculator-right-form-row2,
    .team-card-container{
        grid-template-columns: 1fr;
    }
    .run-left-container{
        text-align: center;
    }
    .training-image-row1,
    .training-image-row2{
        grid-template-columns:1fr;
    }
    .calculator-right-form-row3 select,
    .calculator-right-form-row2 select{
        width: 100%; 
    }
    .calculator-right-form input, select{
        padding: 1rem 2.1rem;
    }
    .calculator-btn{
        text-align: center;
    }
    .calculator-right-box-info{
        text-align: center;
        margin: 1rem 0;
    }
    .calculator-info-container{
        max-width: 100%;
        text-align: center;
        padding: 1rem;
    }
    .calculator-info-container h3{
        margin-bottom: 1rem;
    }
    footer{
        padding: 0;
    }
    .footer-container{
        max-width: 100%;
        margin: 0;
        text-align: center;
    }
}

/* medium device media query */
@media screen and (min-width:576px) and (max-width:992px){
    main{
        max-width: 100%;
    }
    .header-container,
    .team-section,
    .team-info-container,
    .footer-info-container {
        max-width: 100%;
    }
    .nav-container{
        padding: 2rem;
    }
    .nav-list{
        display: none;
    }
    .nav-hamburger{
        display: block;
        color: white;
        margin-right: 1rem;
    }
    .hero-container{
        flex-direction: column;
    }
    .hero-left-container h3,
    .hero-left-container p{
        max-width: 100%;
        text-align: center;
        margin: 3.5rem auto;
    }
    .hero-btn-container,
    .calculator-btn{
        text-align: center;
    }
    .primary-btn,
    .download-btn{
        padding: 2rem 5.5rem;
        margin-right: 2rem;
    }
    .habit-card-container,
    .team-card-container{
        grid-template-columns:repeat(2,1fr);
    }
    .run-left-container,
    .run-right-container{
        max-width: 50%;
    }
    .primary-btn{
        padding: 0.5rem 2rem;
        margin-bottom: 1rem;
    }
    .hero-btn-container button{
        padding: 1rem 4rem;
    }
    .catculator-container{
        flex-direction: column;
    }
    .calculator-right-box-info{
        text-align: center;
        margin: 1rem 0;
    }
    .calculator-right-form-row3 select,
    .calculator-right-form-row2 select{
        width: 72%; 
    }
    .calculator-right-form input, select{
        padding: 1rem 1.5rem;
    }
    .calculator-right-box-info{
        max-width: 80%;
        text-align: center;
        margin: 1rem 0;
    }
    footer{
        padding: 0;
    }
    .footer-container{
        flex-direction: column;
        max-width: 100%;
        margin: 0;
        text-align: center;
    }
}